<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.getkeepsafe.cashier.iab.debug">

  <application>
    <activity
        android:name=".FakeInAppBillingV3CheckoutActivity"
        android:theme="@style/Cashier.FakeCheckoutTheme"/>
  </application>
</manifest>
